@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  font-weight: 400;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
/* header css start */
.header-bg {
  background: url("../images/header-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  color: white;
  margin-top: 50px;
  border-radius: 32px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* header css end */

/* new year start */
.year-section {
  padding: 100px 0 80px 0;
}

.year-content {
  text-align: center;
}

.year-content h2 {
  font-family: "Inter", sans-serif;
  font-size: 88px;
  color: #ff0000;
  font-weight: bold;
  margin-bottom: 50px;
}

.year-content h4,
.coming-soon-left-column h4,
.right-column h4,
.sale-content h3,
.portfolio-content h3 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #ff0000;
  margin-bottom: 24px;
}

.year-content h3,
.coming-soon-left-column h2,
.portfolio-content h2,
.newsletter-content h2 {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.year-img {
  width: 50%;
  margin: 40px auto;
}

/* new year end */
.coming-soon {
  padding: 100px 0;
}
.coming-soon-left-column p,
.right-column p,
.sale-content p,
.portfolio-content p,
.newsletter-content p {
  font-family: "Inter", sans-serif;
  color: #6a6770;
  font-size: 20px;
  padding-right: 50px;
}

.row {
  display: flex;
  align-items: center;
}

.column {
  width: 33%;
}

.middle-column {
  border-radius: 100%;
  height: 100%;
  border: 10px solid red;
  padding: 20px;
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.right-column {
  padding-left: 80px;
}

.coming-img {
  width: 140px;
  margin-top: 10%;
}
.right-column h4 {
  font-weight: bold;
}

.sale-section {
  padding: 100px 0;
}
.sale-content {
  text-align: center;
}

.box {
  display: flex;
  margin-top: 10%;
}

.sale-left-column {
  width: 50%;
}

.sale-right-column {
  width: 50%;
  position: relative;
}

.sale-img {
  text-align: right;
}
.sale-right-column img {
  width: 430px;
}

.sale-content h2 {
  font-size: 72px;
  font-weight: bold;
  margin-bottom: 20px;
}

.discount {
  width: 220px;
  height: 220px;
  border-radius: 100%;
  border: 4px solid white;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  rotate: -34deg;
  position: absolute;
  top: 36%;
  left: 15%;
  transform: translate(0, -50%);
  color: white;
}

.sale-container {
  position: relative;
}
.red-box {
  width: 100%;
  height: 230px;
  background-color: red;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  position: absolute;
  bottom: -86px;
  left: 0;
  z-index: -1;
}

.discount h3 {
  font-size: 72px;
  font-family: "Inter", sans-serif;
}

.discount p {
  font-size: 24px;
}

.portfolio {
  padding: 100px 0;
}

.portfolio-content {
  margin-bottom: 20px;
}

.portfolio-box {
  display: flex;
  gap: 20px;
}
.newsletter {
  padding: 100px 0;
}
.news-letter-bg {
  background-color: #fff2f2;
  padding: 40px;
  border-radius: 16px;
}
.newsletter-content {
  text-align: center;
}
.icon i {
  color: #fed200;
  font-size: 50px;
}

.subscribe-form {
  margin-top: 32px;
  position: relative;
}

input.email {
  width: 648px;
  height: 72px;
  border: none;
  outline: none;
  padding-left: 20px;
  font-size: 24px;
  border-radius: 100px;
}

button.button {
  font-size: 24px;
  border: none;
  outline: none;
  background: red;
  height: 72px;
  color: white;
  width: 210px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  position: absolute;
  right: 20%;
}

footer {
  padding: 100px 0;
  background: black;
  color: white;
}

.footer-first-column {
  display: flex;
  justify-content: space-between;
}

footer p {
  font-size: 24px;
  line-height: 40px;
  font-family: "Inter", sans-serif;
}

.footer-list li {
  margin-bottom: 16px;
}

.footer-list a {
  color: white;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

.footer-list i {
  font-size: 24px;
  margin-right: 16px;
}

/* hr.border-line {
  margin-top: 24px;
} */

.social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin: 24px 0;
}

.social-media i {
  font-size: 32px;
  background-color: rgb(176, 201, 224);
  border-radius: 100px;
  padding: 8px;
}

.footer-bottom-column {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}
